<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=anomalymloutput;AccountKey=DZ7IiYSNBOCcrCb+S/Er59P6uz5r70Hy5MSpBmb633VaIqOGB1ruzYLKn10M7/8Y9sdSXV2TY9U/bzkMjjTSGQ==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=anomalymloutput;AccountKey=DZ7IiYSNBOCcrCb+S/Er59P6uz5r70Hy5MSpBmb633VaIqOGB1ruzYLKn10M7/8Y9sdSXV2TY9U/bzkMjjTSGQ==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DbConnectionString" value="data source=sqlserverlb7xzowqlst44.database.windows.net;initial catalog=emtestdb;persist security info=True;user id=adminuser;password=Microsoft!@#$" />
   
    <add key="NotificationURL" value="https://fcm.googleapis.com/fcm/send" />
    <add key="NotificationClickAction" value="https://cloud.csupoc.com/csu/" />
      
    <add key="MeterKwhCost" value="0.04" />
    <add key="AnomalyThreshold" value="0.6" />

    <add key="applicationInsights:InstrumentationKey" value="7a693f55-1c9d-4a4a-b4e9-365743754aad" />

  </appSettings>
</configuration>